:root {
  --color-principal: #2ca66f;
  --color-fondo: #f5fff9;
  --color-texto: #1a1a1a;
  --color-blanco: #ffffff;
  --sombra: 0 4px 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;  
  background-color: var(--color-fondo);
  color: var(--color-texto);          
}

.sidebar {
  position: fixed;       
  left: 0;               
  top: 0;                
  width: 80px;           
  height: 827px;        
  background-color: #054d36;
  display: flex;         
  flex-direction: column;
  align-items: center;   
  padding-top: 50px;     
  gap: 25px;            
  color: var(--color-blanco); 
  font-size: 25px;      
  z-index: 20;           
}

.sidebar .bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 120px;
}

main {
  margin-left: 60px;    
}


.navbar {
  display: flex;          
  justify-content: space-between;
  align-items: center;          
  padding: 20px 60px;           
  background-color: var(--color-blanco); 
  position: sticky;            
  top: 0;                      
  z-index: 15;                
}

.navbar nav a {
  text-decoration: none;        
  margin: 0 80px;               
  color: var(--color-texto);    
  font-weight: 500;             
  transition: color 0.3s;      
}
.navbar nav a:hover {
  color: var(--color-principal); 
}

.contacto {
  align-items: center;
  gap: 20px;          
  color: var(--color-principal); 
  font-weight: 800;    
}

.contacto i {
    background-color: #00b16a;
    color: white;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 110px auto;
  width: 90%;
  background-color: var(--color-blanco);
  box-shadow: var(--sombra);
  border-radius: 10px;
}

.hero-left {
  flex: 1;
  background: url('odontologa.png') center/cover no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  padding: 180px;
  color: var(--color-blanco);
}

.hero-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(10, 87, 60, 0.65);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 420px;
}

.hero-content h2 {
  font-size: 150px;                    
  line-height: 1.15;                     
  margin: 0 0 12px 0;                   
  font-weight: 700;                      
}

.hero-content h1 span {
  color: var(--color-principal);        
}

.hero-content p {
  font-size: 0.95rem;                    
  margin: 0 0 20px 0;                   
  color: rgba(255, 255, 255, 0.9); 
}    

.hero-btn {
  display: flex;                        
  gap: 65px;                            
}

.btn {
  border: none;                         
  padding: 10px 22px;                    
  border-radius: 25px;                   
  cursor: pointer;                       
  font-weight: 600;                     
  transition: transform 0.25s ease, box-shadow 0.25s ease; 
}

.btn-btn-primero {
  background-color: var(--color-principal); 
  color: var(--color-blanco); 
  border: none;
  padding: 10px 22px;   
  cursor: pointer;
  font-weight: 600px;          
  box-shadow: 0 6px 18px rgba(44,166,111,0.18); 
  transition: .3s;
  border-radius: 20px;
}

.btn-btn-primero:hover {
  transform: translateY(3px);           
  box-shadow: 0 10px 30px rgba(0,0,0,0.15); 
}

.btn-btn-segundo {
  background-color: transparent;        
  color: var(--color-blanco);  
    border: none;
  padding: 10px 22px;   
  cursor: pointer;
  font-weight: 600px;    
  border: 2px solid rgba(255,255,255,0.18);       
  box-shadow: 0 6px 18px rgba(44,166,111,0.18);
  transition: .3s; 
  border-radius: 20px;
}

.btn-btn-segundo:hover {
  transform: translateY(3px);           
  box-shadow: 0 10px 30px rgba(0,0,0,0.15); 
}

.hero-right {
  flex: 1;                               
  background-color: var(--color-blanco); 
  padding: 40px;                        
  display: flex;                        
  flex-direction: column;             
  justify-content: center;               
  gap: 10px;                            
}

.hero-right h2 {
  margin: 0 0 18px 0;                    
  color: var(--color-principal);         
  text-align: center;                    
  font-size: 30px;                    
}

.fila-formulario form {
  display: flex;                         
  flex-direction: column;                
  gap: 14px;                             
}

.fila-formulario {
  display: flex;                        
  gap: 12px;   
  padding: 10px;                          
}

.hero-right input {
  flex: 1;                               
  padding: 12px 14px;                    
  border-radius: 25px;                  
  border: 1px solid #e1e1e1;            
  outline: none;                         
  font-size: 20px;                   
}

.hero-right input:focus {
  border-color: var(--color-principal);
  box-shadow: 0 0 8px rgba(44,166,111,0.12); 
}

.hero-btn .btn-btn-primero {
  width: 160px;                          
  align-self: center;                    
  margin-top: 8px;                     
}

.hero-left, .hero-right {
  width: 100%;                         
  padding: 100px;
}












